@model System.DateTime  
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["TimeOfDay"]</h2>
<!--Do the displaying of data here-->
<h3>@ViewData["DaysLeft"]</h3>
<p>The time is @Model</p>

<p><a href="/Lab4/Page2">Go to Page 2</a></p>

